<section>
	<div id="welcome">
		به ‍‍‍‍‍‍‍‍‍‍‍مطب آنلاین خوش آمدید ‍‍
	</div>

	<div id="flow">
		<div class="flow_icon">  <%=  image_tag("appointment.png", alt: "ملاقات") %>  </div>
		<div class="arrow_icon"> <%=  image_tag("arrow.png", alt: "جهت") %>  </div>
		<div class="flow_icon">  <%=  image_tag("doctor.png", alt: "دکتر") %> </div>
		<div class="arrow_icon">  <%=  image_tag("arrow.png", alt: "جهت") %> </div>
		<div class="flow_icon"> <%=  image_tag("signup.png", alt: "ثبت نام") %> </div>
	</div>

	<div id="field_signup">
		<form action="signup">
    			<input type="submit" value="همین حالا ثبت نام کنید" id="btn_signup">
		</form>
	</div>




</section>

