<p id="notice"><%= notice %></p>

<p>
  <strong>Doctornum:</strong>
  <%= @doctor.doctorNum %>
</p>

<p>
  <strong>Address:</strong>
  <%= @doctor.address %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @doctor.speciality %>
</p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @doctor.family %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @doctor.gender %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
