<%= form_for(@user_reserf) do |f| %>
  <% if @user_reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_reserf.errors.count, "error") %> prohibited this user_reserf from being saved:</h2>

      <ul>
      <% @user_reserf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.number_field :doctor_id %>
  </div>
  <div class="field">
    <%= f.label :reserve_id %><br>
    <%= f.number_field :reserve_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :turn %><br>
    <%= f.number_field :turn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
