<p id="notice"><%= notice %></p>

<h1>لیست وقت های دکتر</h1>

<table>
  <thead>
    <tr>
	<th>نام دکتر</th>
	<th>نام خانوادگی دکتر</th>
	<th>تخصص</th>
      <th>تاریخ ملاقات دکتر</th>

  
      <th>نفر</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_reserves.each do |user_reserf| %>
      <tr>
<td><%= user_reserf.name %></td>
<td><%= user_reserf.family %></td>
	<td><%= user_reserf.speciality %></td>
        <td><%= user_reserf.date %></td>

 
        <td><%= user_reserf.turn %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


