<div id="wrap">
      <header>
         <div id="logo">
	  <%= link_to image_tag("Icon.png", alt: "logo"),
            root_path,  {class: "logo_icon"} %>
         </div>
	 <div id="blank">
            Roham Online Clinic
         </div>
         <nav>
          <ul class="nav navbar-nav navbar-right">
             
             <% if logged_in? %>
		
			
                 <li><%= link_to "ویرایش حساب کاربری",  edit_user_path(current_user), {class: "link"}  %></li>
                 
         	 <li><%= link_to "حساب کاربری", current_user, {class: "link"} %></li>

       		 <li><%= link_to "جستجوی دکتر", '/doctor_adds/search', {class: "link"} %></li>

		 <li><%= link_to "رزرو های من", '/user_reserves/index_temp', {class: "link"} %></li>
			     

                 <li><%= link_to "خروج", logout_path, method: "delete" , class: "link" %></li>
                 
                 
            <% else %>
		<form action="login" id="btn_login_form">
		    	        
			<input type="submit" value="ورود" class="btn_nav">
		</form>

		<form action="home" id="btn_home_form">
		    	<input type="submit" value="خانه" class="btn_nav">
		</form>
		
      		
		
		
		
              
            <% end %>

          </ul>
        </nav>
     </header>
</div>
